<div class="well">
  <form name="newPlaylistForm" class="form-horizontal">
    <fieldset>
      <legend>New Playlist</legend>
      <div class="form-group">
        <label class="col-xs-2 control-label">Title</label>
        <div class="col-xs-10">
          <input name="title" ng-model="playlistText.name" class="form-control" type="text" ng-required ng-minlength="0" ng-maxlength="16">
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-10 col-xs-offset-2">
          <div class="alert alert-warning" ng-show="newPlaylistForm.$invalid || newPlaylistForm.$dirty && newPlaylistForm.title.$viewValue === ''">Please enter a valid title!</div>
          <button ng-click="createPlaylist(playlistText)" ng-disabled="newPlaylistForm.$invalid" type="submit" class="btn btn-success">Create Playlist</button>

          <!-- <pre>{{ newPlaylistForm | json }}</pre> -->
        </div>
      </div>
    </fieldset>
  </form>
</div>
